.hero {
  margin: 20px;
  position: relative;
  height: 300px;
  overflow: hidden; /* Ensures the image does not overflow outside the hero div */
  border: 2px solid rgb(92, 6, 154)
  
}

.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensures the content is above the image */
  text-align: center;
  color: white;
  display: flex;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 90px;
  color: rgb(20, 77, 151);
}

.hero article {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  padding: 10px;
  border-radius: 5px;
}

.hero article p {
  margin: 0;
  font-size: 1.2em;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 100%;/* Adjust as needed */
  z-index: 0; /* Ensures the image is behind the content */
}
.article-img {
  width: 200px;
  border-radius: 90%;
  margin-bottom: 30px;
}
.section-heading {
  font-size: 2em;
  margin-bottom: 10px;
}
.rafting-img {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

header{
  background-color: rgb(203, 168, 209);
  margin: 20px;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(92, 6, 154);}

nav {
  
}

nav li {
  color: #fff;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 
}

li {
  text-align: center;
  border: 1px solid rgb(92, 6, 154);
  border-radius: 1px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: normal;
  font-family: Arial, sans-serif; /* Change font family */
  font-size: 16px; /* Change font size */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.social-icon {
  width: 30px;
  margin: 0 10px;
}
.social-link {
  text-decoration: none;
  color: #fff;
}